NODE_ENV="development"
PORT=8080

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

ACCESS_SECRET="your_access_secret_key"
REFRESH_SECRET="your_refresh_secret_key"
ACCESS_EXPIRY="30m"
REFRESH_EXPIRY="7d"
